#confirm-change-password-button {
    margin-left: 60% !important;
    margin-top: 5% !important;
}

#hidden-invalid {
    margin-left: 35.4% !important;
    margin-top: -3% !important;
    margin-bottom: 3% !important;
}

.btn-change-password {
    margin-left: 60% !important;
    margin-right: 5% !important;
}

#userName {
    padding-right: 17%;
}

#password {
    padding-right: 17%;
}